---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Laravel from "./icons/Laravel.astro";
import MySQL from "./icons/MySQL.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Angular from "./icons/Angular.astro";
import NodeJS from "./icons/NodeJS.astro";
import Mongo from "./icons/Mongo.astro";
import DiscordJS from "./icons/DiscordJS.astro";
import Java from "./icons/Java.astro";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Javascript from "./icons/Javascript.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-red-500 text-white",
    icon: Laravel,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-blue-600 text-white",
    icon: MySQL,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#7E13F8] text-white",
    icon: Bootstrap,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-[#E02A2D] text-white",
    icon: Angular,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-[#1A1A1A] text-white",
    icon: NodeJS,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#01EC64] text-white",
    icon: Mongo,
  },
  DISCORDJS: {
    name: "Discord.js",
    class: "bg-[#0B0C18] text-white",
    icon: DiscordJS,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#000107] text-white",
    icon: Java,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white",
    icon: Html
  },
  CSS: {
    name: "CSS",
    class: "bg-[#30A9DC] text-white",
    icon: Css
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F0DB4F] text-white",
    icon: Javascript
  }
};

const PROJECTS = [
  {
    title: "Gestión y control de inventario de parques",
    description:
      "Plataforma web para el apoyo a la gestión y control de inventario de parques administrados por el IDRD",
    link: "",
    github: "https://github.com/Red0699/PROYECTO-IDRD-PARQUES.git",
    image: "/img/idrd.webp",
    tags: [TAGS.LARAVEL, TAGS.MYSQL, TAGS.BOOTSTRAP],
  },
  {
    title: "Control de Citas de Inmobiliarias",
    description:
      "Aplicativo web para la gestión de inmobiliarias y control de citas, desarrollado con una arquitectura de tres niveles para la presentación, lógica de negocio y acceso a datos.",
    link: "",
    github: "https://github.com/Red0699/Proyecto-Software-Mejorado",
    image: "/img/projectInmobiliaria.webp",
    tags: [TAGS.BOOTSTRAP, TAGS.ANGULAR, TAGS.MYSQL, TAGS.NODEJS],
  },
  {
    title: "Sword Bot",
    description:
      "Bot desarrollado con NodeJS utilizando la API de Discord para la interacción dinámica de un canal de Discord de videojuegos.",
    link: "",
    github: "https://github.com/Red0699/Sword-Bot.git",
    image: "/img/Sword-Bot.webp",
    tags: [TAGS.NODEJS, TAGS.MONGODB, TAGS.DISCORDJS],
  },
  {
    title: "Aplicativo web para gestionar acciones de Vehículos",
    description:
      "Proyecto universitario desarrollado con Angular y Angular Material para el aprendizaje del framework y la maquetación de estilos que ofrece Angular, además se hace el consumo de una API desplegada en Firebase para las peticiones.",
    link: "",
    github: "https://github.com/Red0699/LineaI.git",
    image: "/img/udec-proyecto.webp",
    tags: [TAGS.ANGULAR],
  },
  {
    title: "Blog de la Cundi",
    description:
      "El objetivo de este proyecto es crear una plataforma en línea donde la comunidad académica de la universidad pueda compartir y acceder a información relevante, noticias, artículos y recursos relacionados con la educación superior y la vida universitaria.",
    link: "https://red0699.github.io/Blog-UDEC/dist/",
    github: "https://github.com/Red0699/Blog-UDEC.git",
    image: "/img/blogCundi.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP]
  },
  {
    title: "Aplicación de escritorio para el control de gasto eléctrico del hogar",
    description:
      "Proyecto desarrollado con Java y MySQL con la finalidad de controlar el gasto eléctrico de los electrodomésticos en el hogar mediante índices y estadísticas de consumo, de acuerdo a los objetivos de desarrollo sostenible.",
    link: "",
    github: "https://github.com/Red0699/PI2020.git",
    image: "/img/logoProjectJava.webp",
    tags: [TAGS.JAVA, TAGS.MYSQL],
  }
];
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img
            alt="Imagen"
            class="object-cover w-full h-56 sm:h-64 md:h-auto md:object-top md:scale-110 md:group-hover:scale-105"
            loading="lazy"
            src={image}
          />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
  ))}
</div>
